<header id="main-header">
  <div class="logo"><a href="/"> Middleshop </a></div>
  <nav><%- include('nav-items') %></nav>
  <!-- Mobile Menu Button -->
  <button class="mobile-menu-button">
    <span></span>
    <span></span>
    <span></span>
  </button>
</header>
<!-- Mobile Menu -->
<aside class="mobile-menu">
  <nav>
    <nav><%- include('nav-items') %></nav>
  </nav>
</aside>
