<header id="main-header">
  <div class="logo"><a href="/"> TeePromo </a></div>
  <nav><%- include('nav-items') %></nav>
  <!-- Mobile Menu Button -->
  <button id="mobile-menu-button">
    <span></span>
    <span></span>
    <span></span>
  </button>
</header>
<aside id="mobile-menu">
  <nav>
    <nav><%- include('nav-items') %></nav>
  </nav>
</aside>
