<%- include('../../shared/includes/head/', { pageTitle : 'orders managment' }) %>
</head>
</html>

<!-- Header -->
<%- include('../../shared/includes/header') %>

<!-- Main content -->
<main>
  <h3> Admin Dashborad Pannel </h3>
  <h2> Order  managment </h2>
</main>

<%- include('../../shared/includes/footer') %>