h3 {
  text-align: center;
  color: var(--text-color-1);
  font-size: 25px;
}

form {
  max-width: 25rem;
  margin: var(--space-6) auto;
  padding: var(--space-2);
  background-color: #fff;
  border-radius: var(--border-raduis-meduim);
  text-align: center;
  box-shadow: var(--shadow-meduim);
}

form a {
  color: var(--color-primary-2);
}

form a:hover,
form a:active {
  color: var(--text-color-3);
}
