* {
  box-sizing: "border-box";
}

html {
  font-family: "Roboto", sans-serif;
  /* Colors */

  --color-primary-1: rgb(245, 3, 3);
  --color-secondary: rgb(211, 208, 208);
  --color-primary-2: rgb(71, 17, 121);
  --color-primary-3: rgb(13, 9, 228);
  --black-color: rgb(46, 16, 16);
  --background-color: #938f9c;
  --text-color: #fff;
  --alert-color: #f04b42;
  --success-color: #00cc00;
  --color-white: rgb(223, 211, 211);

  /* margin */
  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-4: 1rem;
  --space-6: 1.5rem;
  --space-8: 2rem;

  /* Border Raduis */
  --border-raduis-small: 4px;
  --border-raduis-meduim: 6px;

  /* Shawdow */
  --shadow-meduim: 0 2px 8px rgba(0, 0, 0, 0.2);
}

body {
  background-color: var(--color-secondary);
  color: var(--black-color);
  margin: 0;
  padding: 0;
}

main {
  width: 90%;
  max-width: 50rem;
  margin: auto;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

/* Buttons */
.btn {
  cursor: pointer;
  color: var(--text-color);
  background-color: var(--color-primary-2);
  font-size: 17px;
  font: inherit;
  border: none;
  padding: 11px;
  border-radius: var(--border-raduis-small);
}

.btn:hover {
  background-color: rgb(240, 103, 6);
}

/* alert Message */

.alert {
  border-radius: var(--border-raduis-small);
  background-color: var(--alert-color);
  color: var(--color-white);
  padding: 0.5rem;
}

.alert h2 {
  font-size: 1rem;
  margin: var(--space-2) 0;
  text-transform: uppercase;
}

.alert p {
  margin: var(--space-2) 0;
}
