label {
  display: block;
  padding: 0.1rem;
  margin: var(--space-1);
}

input,
textarea {
  outline: none;
  padding: 0.5rem;
  border: 1.9px solid rgb(6, 78, 126);
  font: inherit;
  border-radius: var(--border-raduis-small);
  width: 90%;
}

form input:hover {
  border: 1.9px solid var(--color-primary-3);
}

form textarea:hover {
  border: 1.9px solid var(--color-primary-3);
}
