<%- include('../../shared/includes/head/', { pageTitle : 'add new products' }) %>
<link rel="stylesheet" href="/styles/form.css" />
<link rel="stylesheet" href="/styles/auth.css" />
<script src="/script/image-preview.js" defer></script>
</head>
</html>

<!-- Header -->
<%- include('../../shared/includes/header') %>

<!-- Main content -->
<main>
  <h3> Create New Product </h3>
  <%- include('includes/product-form', { submitPath  : '/admin/products', product : {
    title : '',
    summary : '',
    price : '',
    description : '' },
    imageRequired : true
  })  %>
</main>

<%- include('../../shared/includes/footer') %>