<%- include('../../shared/includes/head/', { pageTitle : 'products' }) %>
<link rel="stylesheet" href="/styles/auth.css" />
<link rel="stylesheet" href="/styles/product-items.css" />
<script src="/scripts/product-managment.js" defer></script>
</head>
</html>

<!-- Header -->
<%- include('../../shared/includes/header') %>

<!-- Main content -->
<main class="allProducts">
  <h2> Products Admin Dashborad Pannel </h2>
   <section class="header-add">
     <p>
       <a class="btn" href="/admin/products/add-new-product"> add new product</a>
     </p>
   </section>
  <section class="product"> 
    <ul class="product-grid">
       <% for (const product of allProducts ) { %> 
      <li>
        <%- include('includes/product-items', { product : product }) %>
      </li>
      <% } %> 
    </ul>
 </section>
</main>

<%- include('../../shared/includes/footer') %>